# Настройка DEBUG для Django
DEBUG=True
SECRET_KEY=django-secret-key
ALLOWED_HOSTS=127.0.0.1, localhost

# Если используется другая СУБД, то строку ниже следует закомментировать
USE_SQLITE=True
# Настройки подключения
DB_ENGINE=django.db.backends.postgresql_psycopg2
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5433
