{% extends 'base.html' %}
{% load static %}

{% block title %}
  Менеджер задач
{% endblock %}

{% block content %}
  {% if tasks %}
    <h1 class="mb-4">Список основных задач</h1>
    <ul class="list-group">
      {% for task in tasks %}
        {% if task.parent_task is None %}
          <li class="list-group-item mb-3">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0">
                <a href="{% url 'tasks:task_detail' task.id %}">{{ task.name }}</a>
              </h5>
              <div>
                <a href="{% url 'tasks:task_edit' task.id %}" class="btn btn-sm btn-primary me-2">Редактировать</a>
                <a href="{% url 'tasks:task_delete' task.id %}" class="btn btn-sm btn-danger">Удалить</a>
              </div>
            </div>
            <p class="mt-2 mb-0">
              <strong>Исполнители:</strong> {{ task.assignees }}<br>
              <strong>Статус:</strong> {{ task.get_status_display }}<br>
              <strong>Общая плановая трудоемкость:</strong> {{ task.total_planned_effort }}<br>
              <strong>Общее фактическое выполнение:</strong> {{ task.total_time_fact }}<br>
              <strong>Срок:</strong> {% if task.completed_at %}{{ task.completed_at|date:"d M Y H:i" }}{% else %}Не завершено{% endif %}
            </p>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% else %}
    <p>В базе данных пока нет задач.</p>
  {% endif %}
  <a href="{% url 'tasks:task_create' %}" class="btn btn-success mt-3">Создать задачу</a>
{% endblock %}
